<template>
  <v-container
    class="viewport-container pa-0"
    fluid
  >
    <v-toolbar class="calendar-toolbar elevation-0 mb-o">
      <div class="mx-2">
        <v-btn
          color="primary"
          icon
          small
          @click="() => setMonth(previousMonth)"
        >
          <v-icon>mdi-chevron-up</v-icon>
        </v-btn>
        <v-btn
          color="primary"
          icon
          small
          @click="() => setMonth(nextMonth)"
        >
          <v-icon>mdi-chevron-down</v-icon>
        </v-btn>
      </div>
      <h3>
        {{ selectedMonth | moment('MMMM YYYY') }}
      </h3>
    </v-toolbar>
    <dr-month-overview
      :selected-month="selectedMonth"
    />
    <dr-modals />
  </v-container>
</template>

<script>
import MonthOverview from '../components/Calendar/Views/MonthView/MonthOverview';
import Modals from '../components/Calendar/Modals';

export default {
  components: {
    'dr-month-overview': MonthOverview,
    'dr-modals': Modals,
  },
  data: () => ({
    currentDay: new Date(),
    selectedMonth: new Date(),
  }),
  computed: {
    nextMonth() {
      return this.$moment(this.selectedMonth).add(1, 'month').toDate();
    },
    previousMonth() {
      return this.$moment(this.selectedMonth).subtract(1, 'month').toDate();
    },
  },
  methods: {
    setMonth(date) {
      this.selectedMonth = new Date(date);
    },
  },
};
</script>

<style lang="scss" scoped>
  .viewport-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .calendar-toolbar {
    flex-grow: 0 !important;
    flex-shrink: 0 !important;
  }
</style>
