<template>
  <div class="pa-3">
    <dr-event-details
      :event="event"
      is-form
    />
  </div>
</template>

<script>
import EventDetails from '../EventDetails';

export default {
  components: {
    'dr-event-details': EventDetails,
  },
  props: {
    event: {
      type: Object,
      default: () => {},
    },
  },

};
</script>
