<template>
  <dr-modal-controller :registered-modals="registeredModals" />
</template>

<script>
import EventEditor from './EventEditor';
import ModalController from '../../Common/ModalController';

export default {
  components: {
    'dr-modal-controller': ModalController,
  },
  computed: {
    registeredModals() {
      return [
        {
          component: EventEditor,
          getter: this.$store.getters.eventEditorModal,
          title: 'Edit Event',
        },
      ];
    },
  },
};
</script>
