<template>
  <v-btn
    icon
    small
    @click="handleClick"
  >
    <v-icon
      small
    >
      mdi-calendar-remove
    </v-icon>
  </v-btn>
</template>

<script>

export default {
  methods: {
    handleClick() {
    },
  },
};
</script>
