<template>
  <v-btn
    icon
    small
    @click="handleClick"
  >
    <v-icon
      small
    >
      mdi-calendar-edit
    </v-icon>
  </v-btn>
</template>

<script>

export default {
  props: {
    event: {
      type: Object,
      default: () => {},
    },
  },
  methods: {
    handleClick() {
      const { event } = this;
      this.$store.dispatch('openEventEditorModal',
        event);
    },
  },
};
</script>
