<template>
  <v-container
    class="drak-calendar pt-0"
    fluid
  >
    <v-row
      class="header"
    >
      <v-col
        v-for="day in weeks[0].days"
        :key="day.dateNumber"
        class="day"
        :class="{
          'grey--text': isWeekend(day.date) && calendarDisplaySettings.showWeekend,
        }"
      >
        <h4>{{ day.date | moment('dddd') }}</h4>
      </v-col>
    </v-row>
    <v-row
      v-for="week in weeks"
      :key="week.number"
      class="week"
    >
      <!-- v-ripple="{ class: 'white--text' }" -->
      <v-col
        v-for="day in week.days"
        :key="day.dateNumber"
        class="day"
        :class="{
          'primary--text': day.isToday,
          'grey--text': isWeekend(day.date) && calendarDisplaySettings.showWeekend && !day.isToday,
          'today': day.isToday,
          'this-month':day.isThisMonth
        }"
      >
        <div class="day-header">
          <h4>{{ renderDayHeader(day) }}</h4>
        </div>
        <dr-event-chip />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex';
import EventChip from '../../EventChip';

export default {
  components: {
    'dr-event-chip': EventChip,
  },
  props: {
    selectedMonth: Date,
  },
  computed: {
    ...mapGetters(['calendarDisplaySettings']),
    weeks() {
      const {
        currentDay,
        selectedMonth,
        calendarDisplaySettings: {
          weeksCount,
          weekDaysDisplay,
        },
      } = this;

      const moment = this.$moment(selectedMonth).startOf('month');
      const weeks = [];
      for (let weekIndex = 0; weekIndex < weeksCount; weekIndex += 1) {
        const days = weekDaysDisplay.map((dayId, dayIndex) => {
          const dayMoment = moment.weekday(dayId);

          return {
            date: dayMoment.toDate(),
            isToday: dayMoment.isSame(currentDay, 'day'),
            isThisMonth: dayMoment.isSame(selectedMonth, 'month'),
            isFirstOfMonth: (weekIndex === 0 && dayIndex === 0) || dayMoment.date() === 1,
          };
        });
        weeks.push({
          weekNumber: moment.week(),
          days,
        });
        moment.add(7, 'day'); // We are simply going to a next week
      }

      return weeks;
    },
  },
  methods: {
    isWeekend(date) {
      return this.calendarDisplaySettings.weekDaysWeekend.includes(this.$moment(date).weekday());
    },
    renderDayHeader(day) {
      const { calendarDisplaySettings: { formatForDay, formatForMonthDay } } = this;
      return this.$moment(day.date)
        .format(day.isFirstOfMonth ? formatForMonthDay : formatForDay);
    },
  },
};
</script>

<style lang="scss" scoped>
  .drak-calendar {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    background-color: #202020; // need to take it out!

    .header {
      flex-grow: 0;
      margin-bottom: 3px;
      .day {
        border-left: 1px solid #202020;
        background-color: #303030;
        overflow: hidden;

        * {
          font-weight: normal;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &:last-of-type {
          border-right: 1px solid #202020; // need to take it out!
        }
      }
    }

    .week {
      .day {
        border-top: 1px solid #202020;
        border-left: 1px solid #202020; // need to take it out!
        padding: 0;
        vertical-align: top;
        overflow: hidden;
        cursor: pointer;

        .day-header {
          padding: 0.25em 0.25em 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          * {
            font-weight: normal;
          }
        }

        &.today {
          .day-header {
            border-top: 0.25em solid;
            padding-top: 0;

            * {
              font-weight: bold;
            }
          }
        }

        &.this-month {
          background-color: #303030; // need to take it out!
        }

        &.active {
          background-color: #646464;
        }

        &:last-of-type {
          border-right: 1px solid #202020; // need to take it out!
        }
      }
    }
  }
</style>
