<template>
  <v-menu
    ref="eventDetails"
    offset-x
    :nudge-top="nudgeDistance"
    :right="!isEnoughSpace"
    :left="isEnoughSpace"
    :max-height="popupMaxHeight"
    :max-width="popupMaxWidth"
    :min-width="popupMinWidth"
  >
    <template v-slot:activator="{ on }">
      <div
        ref="eventChip"
        v-ripple="{ class: 'white--text' }"
        class="event-chip"
        @click.stop="(e) => {
          checkSpace();
          on.click(e);
        }"
      >
        <v-icon
          v-if="!allDay"
          size="8"
          class="event-icon green--text text--darken-1"
        >
          mdi-checkbox-blank-circle
        </v-icon>
        <span class="event-name white--text">
          {{ event.name }}
        </span>
        <span
          v-if="!allDay"
          class="event-time grey--text hidden-sm-and-down"
        >
          {{ event.startDate | moment(calendarDisplaySettings.formatForTime) }}
        </span>
      </div>
    </template>
    <dr-event-details
      show-actions
      :event="event"
    />
  </v-menu>
</template>

<script>
import { mapGetters } from 'vuex';
import { CALENDAR_EVENT_POPUP_MIN_WIDTH, CALENDAR_EVENT_POPUP_MAX_WIDTH } from '../../constants/ElementSizes';
import EventDetails from './EventDetails';

export default {
  components: {
    'dr-event-details': EventDetails,
  },
  props: { allDay: Boolean },
  data() {
    return {
      event: {
        name: 'Test Event with very long name',
        startDate: new Date(),
        endDate: new Date(),
      },
      popupMinWidth: CALENDAR_EVENT_POPUP_MIN_WIDTH,
      popupMaxWidth: CALENDAR_EVENT_POPUP_MAX_WIDTH,
      isEnoughSpace: true,
    };
  },
  computed: {
    ...mapGetters(['calendarDisplaySettings']),
    popupMaxHeight() {
      return window.innerWidth / 2;
    },
    nudgeDistance() {
      return window.innerWidth / 24;
    },
  },
  methods: {
    checkSpace() {
      const chipRight = this.$refs.eventChip.getBoundingClientRect().right;
      this.isEnoughSpace = (window.innerWidth - chipRight)
        < this.popupMaxWidth;
    },
  },
};
</script>

<style lang="scss" scoped>

  .event-details-card {
    .event-name {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .event-data {
      display: block;
    }
  }

  .event-chip {
    display: flex;
    padding: 0.25em;
    font-size: 12px;

    &.allday {
      border-radius: 5px;
      width: 100%;

    }
    &.allday.period-left {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &.allday.period-middle {
      border-radius: 0;
    }
    &.allday.period-right {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .event-icon {
      flex: 0 0 auto;
      margin-right: 0.25em;
    }
    .event-name {
      flex-grow: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .event-time {
      flex-grow: 1;
      white-space: nowrap;
    }
  }
</style>
