<template>
  <v-card
    class="event-details-card"
    :flat="isForm"
    :color="isForm && 'transparent'"
  >
    <v-card-title class="event-name">
      {{ event.name }}
    </v-card-title>
    <v-card-subtitle class="event-date">
      <small>{{ event.startDate | moment(calendarDisplaySettings.formatForEventDetails) }}
        - {{ event.endDate | moment(calendarDisplaySettings.formatForTime) }}
      </small>
    </v-card-subtitle>
    <v-card-text>
      Event type
      Location
      Calendar
      About
    </v-card-text>
    <v-card-actions v-if="!isForm">
      <edit-event-button :event="event" />
      <delete-event-button :event="event" />
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapGetters } from 'vuex';
import EditEventButton from '../Common/Buttons/EditEventButton';
import DeleteEventButton from '../Common/Buttons/DeleteEventButton';

export default {
  components: {
    EditEventButton,
    DeleteEventButton,
  },
  props: {
    event: Object,
    isForm: Boolean,
  },
  computed: {
    ...mapGetters(['calendarDisplaySettings']),
  },
};
</script>

<style lang="scss" scoped>

</style>
