<template>
  <v-navigation-drawer
    :value="!!activeModal"
    :width="drawerWidth"
    class="modal-controller"
    absolute
    temporary
    right
    @input="handleDrawerInput"
  >
    <v-toolbar class="elevation-0 mb-0 px-0">
      <v-btn
        class="mr-1"
        icon
        @click="handleClose"
      >
        <v-icon>mdi-arrow-right</v-icon>
      </v-btn>
      <h3>
        {{ activeModal && activeModal.title }}
      </h3>
    </v-toolbar>
    <div
      v-for="(modal, id) in registeredModals"
      :key="id"
      class="modal-instance"
    >
      <component
        :is="modal.component"
        v-if="modal.getter"
        v-bind="modal.getter"
      />
    </div>
  </v-navigation-drawer>
</template>

<script>
import Vue from 'vue';
import { mapActions } from 'vuex';

export default {
  props: {
    registeredModals: {
      type: Array,
      default: () => [
        {
          component: new Vue(),
          getter: () => false,
        },
      ],
    },
  },
  data: () => ({
    drawerWidth: 600,
  }),
  computed: {
    activeModal() {
      return this.registeredModals.find(({ getter }) => getter);
    },
  },
  methods: {
    ...mapActions(['closeModals']),
    handleClose() {
      this.closeModals();
    },
    handleDrawerInput(value) {
      if (!value) {
        this.closeModals();
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.modal-controller {
  width: 50vw;
  .close-button {
    margin: 0.5em;
  }
}
</style>
