<template>
  <v-app dark>
    <!-- <v-app-bar
      app
      color="primary"
      dark
    /> -->

    <v-content>
      <Calendar />
    </v-content>
  </v-app>
</template>

<script>
import { CALENDAR_LOAD_REQUEST, CALENDAR_LOAD_RESPONSE } from './constants/IPCEvents';
import Calendar from './modules/Calendar.vue';

const { ipcRenderer } = window;

ipcRenderer.on(CALENDAR_LOAD_RESPONSE, (event, arg) => {
  console.log(event, arg);
});
ipcRenderer.send(CALENDAR_LOAD_REQUEST);

export default {
  name: 'App',

  components: {
    Calendar,
  },

  data: () => ({
    //
  }),
};
</script>

<style>
  html {
    height: 100vh;
    overflow-y: hidden;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome, Edge, Opera and Firefox */
  }
</style>
